body{
	margin: 0;
	font-family: Helvetica, Arial;
}
#sister-sites a small {
	display: block;
	color: #777777;
	font-weight: lighter;
}

#sister-sites li {
	display: inline-block;
	margin-right: 2px;
	padding: 4px 5px 0 5px;
	border: 1px solid transparent;
	word-spacing: normal;
}

#sister-sites ul {
	padding-left: 0;
	margin: 0 auto;
	/*background-color: red;
*/	width: 960px;
	font-size: smaller;
}

#sister-sites a {
	text-decoration: none;
	color: #0297d2;
}

#sister-sites {
	background-color: #eeeeee;
	padding-top: 7px;
	/*padding-bottom: 4px;*/
	border-bottom: 1px solid #aaaaaa;
	word-spacing: -4px;
}

#active-site a {
	color: #777777;
}

li#active-site {
	background-color: white;
	padding: 4px 5px 0 5px;
	border-left: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	position: relative;
	top: 1px;
}

#sister-sites li:hover:not(#active-site) {
	background-color: white;
	border: 1px solid #bde2f1;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#sister-sites li:hover:not(#active-site) a,
#sister-sites li:hover:not(#active-site) a small{
	color: #5ec9ff;
}

main {
	width: 900px;
	margin: 0 auto;
	clear: both;
}

.product {
	background-color: #eeeeee;
	width: 19%;
	height: 200px;
	margin-bottom: 20px;
	float: left;
	margin-right: 8px;
	position: relative;
	border: 1px solid #aaaaaa;
	box-sizing: border-box;
}

.product h2 {
	font-size: 15px;
	font-weight: normal;
	margin-top: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #424947;
	font-weight: lighter;
}

.product img {
	max-width: 100%;
}

.product:last-child {
	margin-right: 0;
}

.product div {
	padding: 10px;
}

.product p {
	font-weight: bold;
	text-align: right;
}

.discount {
	font-size: smaller;
	background-color: #e34647;
	color: white;
	padding: 6px 8px;
	font-weight: 100;
	position: absolute;
	top: 6px;
	left: -5px;

}

#search {
	background-color: #efefef;
	padding: 20px;
}

#categories {
	background-color: white;
	width: 66.66%;
}

.container {
	width: 960px;
	margin: 0 auto;
}

#main-categories {
	padding-left: 0;
	list-style: none;
}

#main-categories li {
	display: inline-block;
	width: 156px;
	text-align: center;
	padding: 10px 0;
}

#main-categories li:nth-child(1) {
	background-color: #f19608;
	width: 158px;
}

#main-categories li:nth-child(2) {
	background-color: #f06534;
}

#main-categories li:nth-child(3) {
	background-color: #738297;
}

#main-categories li:nth-child(4) {
	background-color: #72ae2d;
}

#main-categories a {
	font-size: 18px;
	text-decoration: none;
	color: white;
	font-weight: lighter;
}

#main-categories ~ ul {
	list-style: none;
	padding-left: 20px;
	padding-bottom: 20px;
	background-color: yellow;
	width: 33.33%;
	float: left;
	box-sizing: border-box;
}

#search:after {
	content: ' ';
	display: block;
	clear: both;
}












































































































